# Environment Variables
.env
.env.*
!.env.example

# Python Cache and Bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so

# Log files
*.log
debug.log

# SQLite DB
db.sqlite3
db.sqlite3-journal

# Django
local_settings.py
*.pot
migrations/
**/migrations/*
!**/migrations/__init__.py

# Static & Media
static/
media/

# Virtual Environments
env/
ENV/
env.bak/
venv/
myenv/
myvenv/
.venv/
.Python

# Build artifacts
build/
dist/
downloads/
*.egg-info/
.eggs/
develop-eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg
MANIFEST
.installed.cfg

# VS Code
.vscode/
*.code-workspace

# ChromeDB and FAISS Indexes
**/chroma_db/
*.faiss.index
**/faiss_index.bin
